.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  height: 48px;
  margin-top: 16px;
}

header .left-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 20%;
    align-items: baseline;
}

header .left-links li {
    padding: 0 16px;
}

header .right-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 40%;
    align-items: center;
}

header .right-links li {
    padding: 0 16px;
}

header .right-links .google-apps {
    height: 25px;
    width: 25px;
    align-self: center;
    padding: 6px;
    margin-right: 10px;
    border-radius: 50%;
}

header .right-links .google-apps:hover {
    background-color: rgb(185, 174, 174);
}

header .right-links .sign-in-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 115, 232);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 16px;
    width: 80px;
    height: 50px;
    margin-right: 16px;
    font-size: 18px;
}

header .right-links .sign-in-button:hover{
    background-color: rgb(99, 160, 239);
}

header .right-links .sign-in-button a {
    text-decoration: none;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    height: calc(100% - 560px);
    flex-shrink: 0;
    box-sizing: border-box;
}

.logo-top-space {
    margin-top: max(100vh - 982px, 0px);
}
#logo {

    height: 92px;
    width: 272px;
}

.form-container {
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.inner-form-container {
    width: auto;
    /* background-color: pink; */
    max-width: 584px;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
}
/* .search-form {
    margin: auto;
    width: 30%; 
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
} */

.form-text-area {
    background: #fff;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

.form-text-container {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}

.form-search-icon-container {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
    fill: currentColor;
    line-height: 24px;
    color: #9aa0a6;
}

.form-text-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: 0px; 
    height: 34px;
    font-size: 16px;
}

.form-clear-button-container {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
    fill: currentColor;
    line-height: 24px;
    color: #9aa0a6;
}

.form-clear-button-container:hover {
    cursor: pointer;
}

.form-search-buttons-container {
    height: 70px;
    padding-top: 18px;
    text-align: center;
}

.search-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
}

.search-button:hover {
    border-radius: 8px;
    border-color: black;
}

.lower-spacer {
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
}

footer {
  background-color: cyan;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: baseline;
  background-color:;
  color: #70757a;
  background-color: rgb(242, 242, 242);
}

footer .left-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 50%;
    order: 1;
    height: 40px;
    align-items: baseline;
}

footer .left-links li {
    padding: 0 16px;
    max-width: 120px;
}


footer .center-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    order: 2;
    height: 40px;
    align-items: center;
}

footer .center-links li {
    padding: 0 16px;
}

#green-leaf {
    height: 15px;
}
footer .right-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 50%;
    order: 3;
    height: 40px;
}

footer .right-links li {
    padding: 0 16px;
}



a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}


@media all and (max-width: 1300px) {
    footer {
        flex-wrap: wrap-reverse;
    }
    footer .center-links {
        order: 5;
    }

}

@media all and (max-width: 600px) {

    footer .left-links {
        order: 4;
        width: 100%;
        justify-content: space-evenly;
    }

    footer .right-links {
        width: 100%;
        justify-content: space-evenly;
    }

}
